{% extends "base.html" %}


{% block content %}

<h3>برای ثبت نام در سایت لطفا از فرم زیر استفاده کنید.</h3>

{% from "macros/_formhelpers.html" import render_field %}
<form method="post">
        {{ form.csrf_token }}
        {{ render_field(form.username) }}
        {{ render_field(form.email) }}
        {{ render_field(form.password) }}
        {{ render_field(form.confirm) }}
        {% if captcha %}
        {{ captcha_html(captcha)|safe }}
        {% endif %}
        {{ render_field(form.submit) }}
</form>

<p style="padding-top: 50px;"><a href="{{ url_for('auth.register') }}">بارگذاری مجدد</a></p>

{% endblock %}