{% extends "base.html" %}


{% block content %}

<div style="padding-right: 50px; padding-top: 50px;">
    <ul>
        {% if users %}
        {% for user in users %}
            {% if user.username == current_user.username %}
                <li><a href="{{ url_for('auth.profile') }}">{{ user.username }}</a></li>
            {% else %}
            <li>{{ loop.index }}. {{ user.username }} - {{ user.email }} [db.id={{ user.id }}]
                <a href="{{ url_for('admin.user_update_admin', id=user.id) }}">ویرایش</a>
                <form style="display: inline;" action="{{ url_for('admin.user_delete_admin', id=user.id) }}" method="post"
                    onclick="return confirm('آیا از حذف این کاربر اطمینان دارید؟')">
                    <input type="submit" value="حذف">
                </form>
            </li>
            {% endif %}
        {% endfor %}
        {% endif %}
    </ul>
</div>

<p style="padding-right: 50px; padding-top: 50px;">
    <a href="{{ url_for('admin.users_list_admin') }}">بارگیری مجدد</a>
</p>

<p style="padding-right: 50px; padding-top: 50px;">
    <a href="{{ url_for('admin.index') }}">بازگشت</a>
</p>

{% endblock %}