<!doctype html>
<html>
    <body>
        <p>کاربر عزیز {{ user.username }},</p>
        <p>
            برای تایید آدرس ایمیل خود
            <a href="{{ url_for('auth.verify_email', token=token, _external=True) }}">
                کلیک کنید.
            </a>.
        </p>
        <p>یا می توانید لینک زیر را در مرورگر خود کپی کنید.:</p>
        <p>{{ url_for('auth.verify_email', token=token, _external=True) }}</p>
        <p>در صروتی که این ایمیل را درخواست نکرده اید، لطفا آن را نادیده بگیرید.</p>
        <p>با تشکر</p>
    </body>
</html>