{% extends "base.html" %}


{% block content %}

<h3>برای ورود به سایت از فرم زیر استفاده کنید.</h3>

{% from "macros/_formhelpers.html" import render_field %}
{% from "macros/_betterform.html" import render_field_better %}
{% from "macros/_sampleform.html" import form_field %}
<form class="mb-3" action="{{ url_for('auth.login') }}" method="post">
        {{ form.csrf_token }}
        {{ render_field(form.username, class="form-check") }}
        {{ render_field(form.password, class="form-check") }}
        {{ render_field(form.remember_me, class="form-check-control") }}
        {% if captcha %}
        {{ captcha_html(captcha)|safe }}
        {% endif %}
        {{ render_field(form.submit) }}
</form>

<p style="padding-top: 50px;"><a href="{{ url_for('auth.login') }}">بارگذاری مجدد</a></p>

<p style="padding-top: 50px;"><a href="{{ url_for('auth.reset_password_request') }}">بازیابی رمز عبور</a></p>

{% endblock %}