{% extends "base.html" %}

{% block content %}

<h3 style="padding-right: 50px; padding-top: 50px;">بازیابی رمزعبور</h3>
{% from "macros/_formhelpers.html" import render_field %}
<form style="padding-right: 50px; padding-top: 50px;" action="{{ url_for('auth.reset_password_request') }}" method="post">
    {{ form.csrf_token() }}
    {{ render_field(form.email) }}
    {{ captcha_html(captcha)|safe }}
    {{ render_field(form.submit) }}
</form>

<p style="padding-right: 50px; padding-top: 50px;">
    <a href="{{ url_for('auth.index') }}">بازگشت</a>
</p>

{% endblock %}