{% extends "base.html" %}


{% block content %}

<div style="padding-right: 50px; padding-top: 50px;">
    <h4>تعداد کل کاربران: {{ users.total }}</h4>
    <h6>تعداد صفحات: {{ users.pages }}</h6>
    <h6>صفحه کنونی: {{ users.page }}</h6>
    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">نام کاربری</th>
                <th scope="col">آدرس ایمیل</th>
                <th scope="col">دسترسی ادمین</th>
                <th scope="col">ایمیل تایید شده؟</th>
                <th scope="col">شناسه پایگاه داده</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users.items %}
            <tr>
                <td>{{ (users.page - 1)*users.per_page + loop.index }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.admin }}</td>
                <td>{{ user.is_verified }}</td>
                <td>{{ user.id }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <div class="pagination">
        {% if users.has_prev %}
        <a href="{{ url_for('auth.admin.users_list_admin', page=users.prev_num) }}">{{ 'قبل' }}</a>
        {% endif %}
        {% for number in users.iter_pages() %}
        {% if users.page != number %}
        <a href="{{ url_for('auth.admin.users_list_admin', page=number) }}">&nbsp&nbsp{{ number }}&nbsp&nbsp</a>
        {% else %}
        &nbsp&nbsp{{ number }}&nbsp&nbsp
        {% endif %}
        {% endfor %}
        {% if users.has_next %}
        <a href="{{ url_for('auth.admin.users_list_admin', page=users.next_num) }}">{{ 'بعد' }}</a>
        {% endif %}
    </div>
</div>

<p style="padding-right: 50px; padding-top: 50px;">
    <a href="{{ url_for('auth.admin.users_list_admin') }}">بارگیری مجدد</a>
</p>

<p style="padding-right: 50px; padding-top: 50px;">
    <a href="{{ url_for('auth.admin.user_create_admin') }}">افزودن کاربر جدید</a>
</p>

<p style="padding-right: 50px; padding-top: 50px;">
    <a href="{{ url_for('auth.admin.index') }}">بازگشت</a>
</p>

{% endblock %}