{% extends "base.html" %}

{% block content %}
<h4 style="padding-right: 50px; padding-top: 50px;">
    CK افزودن کاربر جدید
</h4>

{% from "macros/_formhelpers.html" import render_field %}

<div style="padding-top: 50px; padding-right: 50px;">
    <form action="{{ url_for('auth.admin.user_create_ck') }}" method="post">
        {{ form.csrf_token }}
        {{ render_field(form.username) }}
        {{ render_field(form.email) }}
        {{ render_field(form.pwdhash) }}
        {{ render_field(form.admin) }}
        {{ form.content() }}
        {{ render_field(form.submit) }}
    </form>
    {{ ckeditor.load(custom_url=url_for('static', filename='ckeditor/ckeditor.js')) }}
    {{ ckeditor.config(name='content') }}
</div>
<p style="padding-right: 50px; padding-top: 50px;">
    <a href="{{ url_for('auth.admin.users_list_admin') }}">بازکشت به لیست</a>
</p>

{% endblock %}