{% extends "base.html" %}


{% block content %}

<div style="padding-right: 50px; padding-top: 50px;">
    <h4>تعداد کل کاربران: {{ users.total }}</h4>
    <h6>تعداد صفحات: {{ users.pages }}</h6>
    <h6>صفحه کنونی: {{ users.page }}</h6>
    {% for user in users.items %}
        <p>
            {{ (users.page - 1)*users.per_page + loop.index }}
            نام کاربری: {{ user.username }}
            آدرس ایمیل: {{ user.email }}
            دسترسی ادمین {{ user.amdin }}
            ایمیل تایید شده: {{ user.is_verified }}
            <a href="{{ url_for('auth.admin.user_update_admin', id=user.id) }}">ویرایش</a>
            <form action="{{ url_for('auth.admin.user_delete_admin', id=user.id) }}" method="post"
            onclick="return confirm('آیا از حذف این کاربر اطمینان دارید؟')">
                <input type="submit" value="حذف">
            </form> 
        </p>
    {% endfor %}
    <br>
    <div class="pagination">
        {% if users.has_prev %}
            <a href="{{ url_for('auth.admin.users_list_admin', page=users.prev_num) }}">{{ 'قبل' }}</a>
        {% endif %}
        {% for number in users.iter_pages() %}
            {% if users.page != number %}
            <a href="{{ url_for('auth.admin.users_list_admin', page=number) }}">&nbsp&nbsp{{ number }}&nbsp&nbsp</a>
            {% else %}
            &nbsp&nbsp{{ number }}&nbsp&nbsp
            {% endif %}
        {% endfor %}
        {% if users.has_next %}
            <a href="{{ url_for('auth.admin.users_list_admin', page=users.next_num) }}">{{ 'بعد' }}</a>
        {% endif %}
    </div>
</div>

<p style="padding-right: 50px; padding-top: 50px;">
    <a href="{{ url_for('auth.admin.users_list_admin') }}">بارگیری مجدد</a>
</p>

<p style="padding-right: 50px; padding-top: 50px;">
    <a href="{{ url_for('auth.admin.user_create_admin') }}">افزودن کاربر جدید</a>
</p>

<p style="padding-right: 50px; padding-top: 50px;">
    <a href="{{ url_for('auth.admin.index') }}">بازگشت</a>
</p>

{% endblock %}