<!DOCTYPE html>
<html dir="rtl" lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}
        {% if title %}
            {{ title }} - FlaskShop
        {% else %}
            FlaskShop
        {% endif %}
        {% endblock %}</title>
        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.rtl.min.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">FlaskShop</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ url_for('main.index') }}">صفحه اصلی</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="{{ url_for('auth.index') }}">ناحیه کاربری</a>
          </li> -->
          {% if current_user.is_authenticated %}
          <li class="nav-item">
            نام کاربری: {{ current_user.username }}
            <a class="nav-link active" aria-current="page" href="{{ url_for('auth.logout') }}">خروج</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ url_for('auth.index') }}">ناحیه کاربری</a>
          </li>
          {% endif %}
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
<header>
{% block header %}
  {% for message in get_flashed_messages() %}
    {{ message }}
  {% endfor %}
{% endblock %}
</header>
{% block content %}
{% endblock %}
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>